 <h2>List of All Concert Tours</h2>
 
 <% @concerts.each do |concert| %>
    <%= link_to concert.name, concert_path(concert) %> -  <%= concert.artist %> - <%= concert.venue %> <br>
  <% end %>
  <br><br>
  
  <li><%= link_to "Add a Review", new_user_review_path(current_user) %></li>