<h3> Concert Reviews </h3>

 <% @reviews.each do |review| %>
      <%= review.concert.name %> - <%= review.concert.artist%> - <%= review.rating %> stars<br>
  <% end %>
<br><br>

<li><%= link_to "Add a Concert Review", new_user_review_path(current_user) %></li>
