<h3> Concert Reviews </h3>

 <% @reviews.each do |review| %>
      <%= review.concert.name %> - <%= review.concert.artist%> - <%= review.rating %> stars<br>
  <% end %>
<br><br>
<%= link_to "Add a Concert", new_concert_path %>
